<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="main-login main-center">
        <h1>Add Offer</h1>
        <form ng-submit="addOffer()">
          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Company Name</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input  type="text" class="form-control" name="name" id="name"  placeholder="Company Name"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label  class="cols-sm-2 control-label">Description</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input  ng-model="data.description" type="text" class="form-control"  placeholder="Description"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label  class="cols-sm-2 control-label">Location</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input ng-model="data.date" type="text" class="form-control" placeholder="Company Location"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label  class="cols-sm-2 control-label">Upload Image</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <div class="input-group image-preview">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-indent-left"></i></span>
                  <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                  <span class="input-group-btn">
                      <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                        <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title">Browse</span>
                        <input type="file" max-size=84602 onchange="angular.element(this).scope().upload(this.files)" required accept="image/*"/> <!-- rename it -->
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="text" class="form-control" id="latitude" value="39.500" ng-model="data.latitude" readonly>
          </div>
          <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="data.longitude" readonly>
          </div>
          <div class="form-group">
            <label for="verified">HTML5 Verified Location? <span><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
            <input type="text" class="form-control" id="verified" placeholder= "Nope (Thanks for spamming my map...)" ng-model="data.htmlverified" readonly>
          </div>
          <div class="form-group ">
            <button  type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Add Offer</button>
          </div>
        </form>
      </div>
    </div>    
    <div class="col-md-5">
      <div id="map" style="width:100%; height:520px"></div>
    </div>
  </div>
</div>

<style type="text/css">
  .image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .image-preview-input-title {
    margin-left:2px;
  }
</style>
<script type="text/javascript">
  $(document).on('click', '#close-preview', function(){
    $('.image-preview').popover('hide');
    // Hover befor close the preview
    $('.image-preview').hover(
        function () {
           $('.image-preview').popover('show');
        },
         function () {
           $('.image-preview').popover('hide');
        }
    );
});

$(function() {
    // Create the close button
    var closebtn = $('<button/>', {
        type:"button",
        text: 'x',
        id: 'close-preview',
        style: 'font-size: initial;',
    });
    closebtn.attr("class","close pull-right");
    // Set the popover default content
    $('.image-preview').popover({
        trigger:'manual',
        html:true,
        title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
        content: "There's no image",
        placement:'bottom'
    });
    // Clear event
    $('.image-preview-clear').click(function(){
        $('.image-preview').attr("data-content","").popover('hide');
        $('.image-preview-filename').val("");
        $('.image-preview-clear').hide();
        $('.image-preview-input input:file').val("");
        $(".image-preview-input-title").text("Browse");
    });
    // Create the preview image
    $(".image-preview-input input:file").change(function (){
        var img = $('<img/>', {
            id: 'dynamic',
            width:250,
            height:200
        });
        var file = this.files[0];
        var reader = new FileReader();
        // Set preview image into the popover data-content
        reader.onload = function (e) {
            $(".image-preview-input-title").text("Change");
            $(".image-preview-clear").show();
            $(".image-preview-filename").val(file.name);
            img.attr('src', e.target.result);
            $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
        }
        reader.readAsDataURL(file);
    });
  });
</script>
