<header ng-controller='commentsController'>
  <div class="container-fluid">
    <div class="panel panel-default" ng-init="getAllOffers()">
      <div class="col-xs-12 col-sm-8 col-md-9 content-column">
        <div class="panel-body">
          <div class="grid" >
            <div class="row" >
              <div ng-repeat="offer in all">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                  <div class="box-masonry"><a href="" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                    <img src="{{offer.img}}" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="">{{offer.location}}</a></h4>
                      <div class="box-masonry-desription">
                        <p> {{offer.description}} </p>
                        <p>{{offer.date}}</p>
                         <md-button  ng-controller='commentsController' ng-click="showPrerenderedDialogComment($event,offer)" class="md-primary md-raised" > show or write comments </md-button >
                           <div style="visibility: hidden" ng-contoller = 'commentsController' >
                             <div class="md-dialog-container" id="comments">
                                <md-dialog layout-padding >
                                      <div ng-controller='commentsController' >
                                      <h1>Your feedBack</h1>
                                    <p ng-repeat='comment in com'>{{comment.text}} </p>
                                  </div>
                                <input type="text" name="comment" id='Text1' ng-model='commentValue'>
                                <md-button  ng-controller='commentsController' ng-click="addComment(commentValue)"  class="md-primary md-raised" > Write a comment </md-button >
                              </md-dialog>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
