
    <div class="main-content">
        <form ng-submit="signup()">

            <div class="form-title-row">
                <h1>Signup</h1>
            </div>

            <div class="form-row">
                <label>
                    <span>Company Owner</span>
                    <input type="text" ng-model=" company.companyOwner">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Company Name</span>
                    <input type="text" ng-model=" company.companyName">
                </label>
            </div>
             <div class="form-row">
                <label>
                    <span>Phone Number</span>
                    <input type="text" ng-model=" company.phoneNumber">
                </label>
            </div>
             <div class="form-row">
                <label>
                    <span>Email</span>
                    <input type="email" ng-model=" company.email">
                </label>
            </div>
             <div class="form-row">
                <label>
                    <span>Location</span>
                    <input type="text" name="email">
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Company Type</span>
                    <input type="text" ng-model=" company.companyType">
                </label>
            </div>
             <div class="form-row">
                <label>
                    <span>Description</span>
                    <input  type="text" ng-model=" company.description">
                </label>
            </div>
             <div class="form-row">
                <label>
                    <span>Password</span>
                    <input type="Password" ng-model=" company.password">
                </label>
            </div>

            <div class="form-row">
                <button type="submit">Sign Up</button>
            </div>

        </form>

    </div>
