<div class="container" >
<div class="row" id="pwd-container">
<div class="col-md-4"></div>
    <div class="col-md-4">
  <form ng-submit="signup()" role="login">
    <div class="form-group">
      <label for="user">User Name:</label>
      <input ng-model="user.username" 
      type="text" class="form-control" placeholder="your name" required>
    </div>
    <div class="form-group">
      <label for="user">Email:</label>
      <input ng-model="user.email" 
      type="email" class="form-control" placeholder="your email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input ng-model="user.password" 
      type="password" class="form-control" placeholder="your password" required>
    </div>
    
  <div class="form-group">
                <button type="submit" class="btn btn-info">Sign Up</button>
            </div>
  <div class="wrapper">

    <h4><strong>Do you have account already?</strong></h4>
    <a href="#/signin">
     <input type="submit" class="btn btn-danger" value="Signin">
   </a>
 </div>
</form>

</div>
</div>
</div
